body {
  background-color: black;
}
h1 {
  text-align: center;
  color: green;
}
p {
  color: cyan;
  font-size: 22px;
}
select {
  font-size: 17px;
}
.sbmt{
  cursor: pointer;
}
input[type="submit"], input[type="reset"]{
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: green;
  font-size: 20px;
}
input[type="reset"]:hover {
  background-color: red;
  font-size: 20px;
}
input[type="text"]:hover{
  font-size: 15px;
}
input[type="mail"]:hover{
  font-size: 15px;
  background-color: aquamarine;
}
.gg:hover{
  font-size: 24px;
}